
    <form method="get" action="/quizes/answer">
      Pregunta: <%= pregunta %><p>
      <input type="text" name ="respuesta" value="REsponda aquí" />
      <input type="submit" value="Enviar">
    </form>
